$YesevaOne :'Yeseva One',"Comic Sans MS", cursive;
$Lato :'Lato', Arial, sans-serif;
$mobile: 400px;
$tablet: 768px;

*{
    margin: 0;
    padding: 0;
}
.wrapper{
    max-width: 1440px;
    margin: 0 auto;
}
.header{
    display: flex;
    width: 100%;
    height: 20vw;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: $mobile){
        height: 40vw;
    }
}
.main{
    display: flex;
    flex-direction: column;
}
.person-image{
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    @media screen and (max-width: $mobile){
        width: 30vw;
        height: 30vw;
    }
}
.personal-information{
    margin-left: 3vw;
    text-align: center;
    @media screen and (max-width: $mobile){
        margin-left: 1vw;
    }
}
.person-name{
    font-style: normal;
    font-weight: normal;
    font-size: 3vw;
    line-height: 4vw;
    text-transform: uppercase;
    font-family: $YesevaOne;
    @media screen and (max-width: $mobile){
        font-size: 5.8vw;
        line-height: 10vw;
    }
}
.header__list{
    display: inline;
    margin-right: 2vw;
    list-style: none;
    font-size: 1.4vw;
    line-height: 3vw;
    text-transform: uppercase;
    font-family: $Lato;
    @media screen and (max-width: $mobile){
        font-size: 3.8vw;
        line-height: 6vw;
    }
}
.header__href{
    text-decoration: none;
    color: #000000;
    &:hover{
        color: darkkhaki;
    }
}

.education{
    width: 93vw;
    margin: 0 auto;
    margin-top: 3vw;
    margin-bottom: 2vw;
}
.collapsible{
    display: flex;
    align-items: center;
    width: 90vw;
    height: 5vw;
    margin: 0 auto;
    border-radius: 32px;
    border: 1px solid rgba(0,0,0,0.125);
    background-color: rgba(0, 0, 0, 0.034);
    cursor: pointer;
    outline: none;
    &:hover{
        background-color: rgba(0, 0, 0, 0.024);
    }
    @media screen and (max-width: $mobile){
        height: 11vw;
    }
}
.active{
    background-color: rgba(0, 0, 0, 0.024);
  }
.collapsible__education-text{
    margin-left: 6.8%;
    font-size: 2vw;
    line-height: 2vw;
    font-family: $Lato;
    color: black;
    @media screen and (max-width: $mobile){
        font-size: 4vw;
        line-height: 6vw;
    }
}
.collapsible__education-img{
    width: 1.5vw;
    margin-left: 2vw;
    @media screen and (max-width: $mobile){
        width: 3vw;
    }
}
.education-list{
    margin-left: 12%;
    font-size: 1.4vw;
    line-height: 3.5vw;
    font-family: $Lato;
    color: rgb(57, 57, 57);
    @media screen and (max-width: $mobile){
        font-size: 4vw;
        line-height: 6vw;
    }
}
.content{
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

.projects{
    width: 90vw;
    margin: 0 auto;
    overflow: hidden;
}
.projects-header{
    display: flex;
    align-items: center;
    height: 5vw;
    margin: 0 auto;
    border-radius: 32px;
    border: 1px solid rgba(0,0,0,0.125);
    background-color: rgba(0, 0, 0, 0.034);
    @media screen and (max-width: $mobile){
        height: 10vw;
    }
}
.project-header__text{
    margin-left: 7%;
    font-size: 2vw;
    line-height: 2vw;
    font-family: $Lato;
    color: black;
    @media screen and (max-width: $mobile){
        font-size: 4vw;
        line-height: 6vw;
    }
}

.slide-project{
    display: flex;
    // width: 90vw;
    margin: 0 auto;
    @media screen and (max-width: $mobile){
        flex-direction: column;
        align-items: center;
    }
}
.slide__description{   
    margin-top: 3vw;
    margin-left: 3vw;
    @media screen and (max-width: $mobile){
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.2s ease-out;
    }
}
.slide__header{
    font-size: 1.5vw;
    line-height: 3vw;
    font-family: $YesevaOne;
    color: rgb(57, 57, 57);
    @media screen and (max-width: $mobile){
        font-size: 5vw;
        line-height: 8vw;
    }
}
.slide__list{
    margin-left: 3vw;
    font-size: 1.5vw;
    line-height: 3vw;
    font-family: $Lato;
    color: rgb(57, 57, 57);
    @media screen and (max-width: $mobile){
        margin-left: 5vw;
        font-size: 4vw;
        line-height: 8vw;
    }
}
.slide__img{
    width: 50vw;
    height: 70vw;
    margin-top: 3vw;
    margin-left: 3vw;
    @media screen and (max-width: $mobile){
        width: 87vw;
        height: 127vw;
    }
}
.slide__description__button{
    display: flex;
    align-items: center;
    width: 20vw;
    height: 7vw;
    margin-top: 14vw;
    margin-left: 13vw;
    @media screen and (max-width: $mobile){
        width: 40vw;
        height: 12vw;
        margin-top: 5vw;
    }
}
.slide__description__button-text{
    width: 15vw;
    font-size: 1.4vw;
    line-height: 1.8vw;
    font-family: $Lato;
    color: rgb(57, 57, 57);
    @media screen and (max-width: $mobile){
        width: 40vw;
        font-size: 3.4vw;
        line-height: 3.8vw;
    }
}
.slide__description__button-img{
    width: 3vw;
    @media screen and (max-width: $mobile){
        display: none;
    }
}
.slide__description__button-img__down{
    display: none;
    @media screen and (max-width: $mobile){
        display: inline;
        width: 4vw;
        margin-left: 2vw;
    }
}
.description__mobile{
    display: none;
    @media screen and (max-width: $mobile){
        display: inline;
        width: 90vw;
        height: 20vw;
        margin: 3vw auto;
        border: 0;
        border-bottom: 2px solid rgba(0, 0, 0, 0.034);
        background-color: rgba(255, 255, 255, 1);
        cursor: pointer;
        font-size: 4.5vw;
        line-height: 9vw;
        font-family: $Lato;
        color: black;
        text-align: center;
    }
}
.description__mobile-img{
    width: 4vw;
    margin-left: 2vw;
}

.carousel{
    //  position: relative;
    //  top: 125%;
    //  left: 50%;
     width: 100%;
    //  transform: translate(-50%,-50%);
    //  @media screen and (max-width: $mobile){
    //     position: relative;
    //     top: 85%;
    //  }
}
.carousel__item{
    display: none;
    position: relative;
    height: 1060px;
    margin: 0 auto;
    animation: 0.5s ease-in-out;
}
.active-slide,
.next-slide{
    display: block;
}
.next-slide{
    position: absolute;
    top: 35.2vw;
    width: 100%;
    height: 1050px;
    @media screen and (max-width: $mobile){
        top: 37.9%;
    }
}
.control{
    position: absolute;
    top: 125%;
    bottom: 0;
    width: 4vw;
    cursor: pointer;
    @media screen and (max-width: $mobile){
        display: none;
    }
}
.control.left{
    left: 0;
    right: auto;
}
.control.right{
    right: 0;
    left: auto;
}
.arrow{
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


.to-left{
    animation-name: left;
}
.to-right{
    animation-name: right;
    animation-direction: reverse;
}
.from-left{
    animation-name: left;
    animation-direction: reverse;
}
.from-right{
    animation-name: right;
}

@keyframes left{
    from{
        left:0;
    }
    to{
        left:-100%;
    }
}
@keyframes right{
    from{
        left:100%;
    }
    to{
        left:0;
    }
}